<div id="diagnosis">

    <div id="touchable-panel" class="col-md-7">

        <button id="clickme" class="btn btn-lg btn-primary">Click me</button>
        <br>
        <br>
        <button id="clickme2" ng-touch-as-click class="btn btn-lg btn-primary">Click me</button>

    </div>

    <div id="events-panel" class="col-md-3 col-md-offset-2">

        <div class="row">
            <div data-event="click" class="indicator col-md-6">
                click
            </div>
            <div data-event="tap" class="indicator col-md-6">
                tap
            </div>
        </div>
        <div class="row">
            <div data-event="touchstart" class="indicator col-md-6">
                touchstart
            </div>
            <div data-event="touchend" class="indicator col-md-6">
                touchend
            </div>
        </div>
        <div class="row">
            <div data-event="touchmove" class="indicator col-md-6">
                touchmove
            </div>
            <div data-event="swipe" class="indicator col-md-6">
                swipe
            </div>
        </div>

        <div class="row">
            <div data-event="mousedown" class="indicator col-md-6">
                mousedown
            </div>
            <div data-event="mouseup" class="indicator col-md-6">
                mouseup
            </div>
        </div>
        <div class="row">
            <div data-event="mousemove" class="indicator col-md-6">
                mousemove
            </div>
        </div>

    </div>

</div>
