<p>This is the partial for view 1.</p>

<p>
    <button class="btn btn-primary" ng-click="buttonClick()">Button with ng-click</button> - <b>affected by ng-touch</b>
</p>

<p>
    <a class="btn btn-primary" ng-click="buttonClick()">Link with ng-click</a> - <b>affected by ng-touch</b>
</p>

<p>
    <a class="btn btn-primary" href="#/view2">Link with href</a> - not affected by ng-touch
</p>

<div style="margin: 20px 0px; padding:10px 20px; background: #eee; border: 1px solid #ccc" id="test-div">Div tag with
    jquery-bound click handler - not affected by ng-touch
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->